h1 {
    text-align: center;
    background-color: rgb(30, 28, 48);
    color: white; 
}

.form {
    background-color: rgb(238, 234, 234); 
    width:99%;
}

.button {
    background-color: black;
    color: white; 
    padding: 2px; 
}

#city-display {
    background-color: rgb(238, 234, 234); 
    width: 100%;
    height: 100%; 
}
.display-weather {
    background-color: rgb(238, 234, 234); 
    width: 100%;
    height: 100%; 
    border: thin solid rgb(161, 158, 158); 
}

.display-forecast {
    background-color: rgb(238, 234, 234); 
    width: 100%;
    height: 100%; 
}

h3 {
     
    font-size: 25px;
    font-weight: bold;
}

h4 {
    font-size:14px; 
    color: white; 
    position: relative;
    left:2px;
     
}

#card1{
    background-color: rgba(0, 110, 255, 0.959);
   
}

#card2 {
    background-color: rgba(0, 110, 255, 0.959);
}

#card3 {
    background-color: rgba(0, 110, 255, 0.959);
}

#card4 {
    background-color: rgba(0, 110, 255, 0.959);
}

#card5 {
    background-color: rgba(0, 110, 255, 0.959);
}

.tomorrowclass {
    color:white; 
    font-size: 12px;
    position: relative;
    left:3px; 
}

img {
    width:50px; 
    height: 50px;
    text-align: center;
    position:relative;
    left:15px; 
}